@charset "utf-8";

body { background-image: url("obr1.png"); background-size: 10%;
font: 0.625em/1.5em arial, tahoma, verdana, sans-serif; }

header { position: relative; background: #cccccc;
border: 5px solid #222222; }
header .begin { overflow: hidden; text-align: center;
position: relative; background: #cccccc; }

h1 a { display: block; padding: 10px; margin-top: 10px;
font-size: 2.45em; outline: none; clear: both;
text-decoration: none; }

a, li { color: #444444; font-size: 1.4em;
font-family: arial, tahoma, verdana, sans-serif; }

div.centre { display: block; width: 482px;
margin-top: 5px; margin-left: auto; margin-right: auto; } 
ul { overflow: hidden; position: relative;
list-style: none; padding: 0; margin-top: 5px; margin-left: 5px; }
ul li { float: left; }
ul li a { display: block; padding: 18px 0px 9px 0px;
margin-right: 5px; border: 2px solid #222222; width: 150px; height: 25px; text-align: center;
text-decoration: none; outline: none; background: #888888; }
ul li a:hover { background: #aaaaaa; border: 2px solid #444444; }

nav { position: relative; width: 984px; height: 300px; margin-top: 20px; margin-left: auto; margin-right: auto; }
article { width: 246px; height: 138px; }
aside { width: 384px; height: 216px; }
footer { width: 246px; height: 138px; }
article, aside, footer { overflow: hidden; background: #444444;
border: 3px solid #888888; padding: 5px;
margin: 10px; float: left; }